#first-button{
    background-color: #B68C5A;
    border-color: #B68C5A;
}
.header-img{
    background-image: url("images/banner.png");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;

}
#banner-title{
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    font-weight: 800;
}
.col-mod{
    padding: 0;
    margin-top: 0;
    border-radius: 0;
}
.card{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
}
.fs-1, .fs-2, .fs-3 {
    font-family: 'EB Garamond', serif;
}
.card:hover{
    background-color: #E7E7E7;
}
.border-class-1{
    border-right: 0;
}
.border-class-2{
    border-bottom: 0;
}
.border-class-3{
    border-right: 0;
    border-bottom: 0;
}

.slider-img-1{
    background-image: url("images/banner.png");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-img-2{
    background-image: url("images/closeup-gavel-judgement-concept.jpg");
    height: 75vh;
}
.slider-img-3{
    background-image: url("images/slider-1.jpg");
    height: 75vh;
}
.slider-img-4{
    background-image: url("images/slider-2.jpg");
    height: 75vh;
}
.slider-img-5{
    background-image: url("images/slider-3.jpg");
    height: 75vh;
}